.manage {
  .rainbow {
    height: 100vh;
    overflow: scroll;

    .pane {
      padding: 1rem;
    }
  }

  .form-field {
    margin: 0 0 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
