{
  "presets": ["react", "env"],
  "plugins": [
    "syntax-dynamic-import",
    "jsx-control-statements",
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["transform-class-properties", { "spec": true }],
    ["transform-object-rest-spread", { "useBuiltIns": false }],
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}
