$button-color: #fff;
$button-font-size: medium;
$button-background-color: #333;
$button-padding: 0.2rem !default;
$button-font-weight: 300;

button {
  background-color: $button-background-color;
  border: 0;
  color: $button-color;
  cursor: pointer;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  padding: $button-padding;
  width: auto;
  margin: 0.5rem 0;
  padding: 0.3rem 0.7rem;
  border-radius: 0.7rem;
}

button.btn-delete {
  background-color: #a90202;
  color: white;
}

button.btn-create {
  background-color: green;
  color: white;
}
