/*
# https://gist.githubusercontent.com/gaga1227/b81a17810e052c7df87a/raw/3ae29841d5d56cd144aec19bcd8d7ef2ee98d08c/styled-range-input.scss
# An example of cross browser styled range input.
*/

//vars
$containerSize: 20px;
$trackSize: 8px;
$thumbSize: 16px;
$bgColor: #d7d7d7;
$bdrColor: #bababa;
$thumbBgColor: #f2f2f2;
$thumbBgHoverColor: #fff;
$thumbBdrColor: #777;
$thumbBdrHoverColor: #0069ab;
$fillColor: #2ea5dd;
$fillHighlightColor: lighten($fillColor, 30%);

//mixin
@mixin box-model($model: border-box) {
  -webkit-box-sizing: $model;
  -moz-box-sizing: $model;
  box-sizing: $model;
}

//range input customised styles
input[type="range"] {
  //remove default useragent theme
  -webkit-appearance: none;

  //remove focus line
  &:focus,
  &:active {
    outline: none;
  }
  &::-moz-focus-outer {
    border: none;
    outline: none;
  }

  //input self
  height: $containerSize;
  @include box-model();
  background: none;
  border: none;
  cursor: pointer;

  //thumb - webkit
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $thumbSize;
    height: $thumbSize;
    margin-top: -4px;
    @include box-model();
    background: $thumbBgColor;
    border: 5px solid $thumbBdrColor;
    border-radius: 50%;
    &:hover,
    &:active {
      background: $thumbBgHoverColor;
      border-color: $thumbBdrHoverColor;
    }
    &:active {
      background: $thumbBdrHoverColor;
      border-width: 0;
    }
  }

  //thumb - moz
  &::-moz-range-thumb {
    width: $thumbSize;
    height: $thumbSize;
    @include box-model();
    background: $thumbBgColor;
    border: 5px solid $thumbBdrColor;
    border-radius: 50%;
    &:hover,
    &:active {
      background: $thumbBgHoverColor;
      border-color: $thumbBdrHoverColor;
    }
    &:active {
      background: $thumbBdrHoverColor;
      border-width: 0;
    }
  }

  //thumb - ms
  &::-ms-thumb {
    width: $thumbSize;
    height: $thumbSize;
    @include box-model();
    background: $thumbBgColor;
    border: 5px solid $thumbBdrColor;
    border-radius: 50%;
    &:hover,
    &:active {
      background: $thumbBgHoverColor;
      border-color: $thumbBdrHoverColor;
    }
    &:active {
      background: $thumbBdrHoverColor;
      border-width: 2px;
    }
  }

  //track - webkit
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $trackSize;
    @include box-model();
    background: $bgColor;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 4px;
  }

  //track - moz
  &::-moz-range-track {
    width: 100%;
    height: $trackSize;
    @include box-model();
    background: $bgColor;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 4px;
  }

  //track - ms
  &::-ms-track {
    width: 100%;
    height: $trackSize;
    @include box-model();
    //removes the default segment lines
    color: transparent;
    background: $bgColor;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 4px;
  }

  //fill - moz
  &::-moz-range-progress {
    height: $trackSize;
    @include box-model();
    background-color: $fillColor;
    background-image: linear-gradient($fillHighlightColor 20%, $fillColor 20%);
    border-top: 1px solid lighten($fillColor, 5%);
    border-bottom: 1px solid darken($fillColor, 8%);
    border-radius: 4px;
  }

  //fill - ms
  &::-ms-fill-lower {
    //this fills from start to thumb
    height: $trackSize;
    @include box-model();
    background-color: $fillColor;
    background-image: linear-gradient($fillHighlightColor 20%, $fillColor 20%);
    border-top: 1px solid lighten($fillColor, 5%);
    border-bottom: 1px solid darken($fillColor, 8%);
    border-radius: 4px;
  }
  &::-ms-fill-upper {
    //this fills from thumb to end
    display: none;
  }

  //tooltip - ms
  &::-ms-tooltip {
    display: none;
  }
}
