.leaderboard {
  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid white;

    &.active {
      text-shadow: 0.2rem 0.2rem 0.1rem black;
    }

    .wrestler {
      background-color: transparent;
      background-image: none;
    }
  }
}
