.page .dashboard {
  .highlight {
    padding: 0.5rem;
    margin: 0 0 0.5rem 0;
  }

  .segment-container {
    margin-bottom: 0.5rem;
  }

  .simulator h2 {
    margin: 0;

    .rjsf {
      padding: 0;
    }
  }

  .rjsf {
    .range-view {
      display: none;
    }
    .form-group {
      margin: 0;
    }
  }
}
