@import "src/stylesheets/breakpoints";

.page .draft .brands {
  display: flex;
  flex-wrap: inherit;

  header {
    margin: 0.5rem;
  }

  .brand {
    flex: 1 0;
    margin: 0;
    overflow: hidden;
    padding: 0.1rem;

    .wrestler {
      flex-direction: row;
      width: 5rem;
      font-size: x-small;

      .points {
        margin: 0;
        background-color: transparent;
      }
    }
  }

  .Droppable {
    min-height: 5rem;
    padding: 0.3rem;
    border: 0.1rem dashed white;
    outline-offset: -0.5rem;
  }

  @include breakpoint(xs) {
    flex-direction: column;
    overflow: scroll;

    .brand {
      max-height: 10rem;
      min-height: 5rem;
      overflow: scroll;
      margin-bottom: 1rem;
    }
  }
}
