@import "src/stylesheets/breakpoints";

.page .draft .brands {
  display: flex;
  flex-wrap: inherit;

  .brand {
    flex: 1 0;
    margin: 0;
    padding: 0.5rem;

    &.sidelined {
      color: #ffffff;
      background-color: black;
      background-image: linear-gradient(to right, #580814, #322775);
      .Droppable {
        border: 1px dashed white;
      }
    }

    .wrestlers {
      height: 100%;
      min-height: 5rem;
    }

    .Droppable {
      background-image: linear-gradient(to right, #580814, #1d154e);
    }

    .wrestler {
      width: 4.5rem;

      .inner {
        font-size: x-small;
        padding: 0.2rem 0 0 0.5rem;
        flex-direction: column-reverse;
        display: flex;
        align-items: flex-start;
      }

      .points {
        margin: 0;
        padding: 0;
        background-color: transparent;
      }
    }
  }

  @include breakpoint(xs) {
    flex-direction: column;
    overflow: hidden;

    .brand {
      .temp {
        display: none;
      }
      max-height: 15rem;
      min-height: 10rem;
      overflow: scroll;
      margin-bottom: 1.5rem;
    }
  }
}
