.color-picker-only .color-picker {
  border: 0.2rem solid currentColor;
  display: flex;
  height: 1.7rem;
  margin: 0.2rem 0;
  padding: 0;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "theme ▾";
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }
}
