@import "src/stylesheets/z-index";

.github-picker,
.popover {
  z-index: $z-index-color-pickers;
}

.popover {
  position: fixed;
}

.cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.color-pickers {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1rem solid currentColor;
  margin: 0;
  padding: 0;

  .color-picker {
    content: "";
    width: 1.7rem;
    border: none;
    height: 1rem;
  }
}

.compact-picker .flexbox-fix {
  display: none;
}
