.page-container.story {
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 1rem;
  font-family: "Press Start 2P", cursive;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));

  main {
    padding: 0rem;
  }

  .page {
    padding: 1rem;
  }

  .header {
    margin: 1rem 0 1rem;
  }

  .labels span {
    font-size: small;
  }

  .nav a.active {
    text-shadow: 0.1rem 0 0 currentColor;
  }

  .small {
    font-size: small;
  }

  .modal {
    border-radius: 0;
    box-shadow: 1rem 1rem 0 blueviolet;
  }

  select {
    font-family: "Press Start 2P", cursive;
  }

  hr {
    border: 0.1rem solid currentColor;
    margin: -0.1rem 0 0.9rem;
  }

  .wrestler {
    .points,
    .championshipId {
      display: none;
    }
    .name {
      text-shadow: none;
      font-size: medium;
    }
  }

  @import "./buttons.scss";
}
