.story {
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 1rem;
  font-family: "Press Start 2P", cursive;

  main {
    padding: 0rem;
  }

  .page {
    padding: 1rem;
  }

  .header {
    margin: 1rem 0 1rem;
  }

  .nav a.active {
    text-shadow: 2px 0 0 currentColor;
  }

  @import "./buttons.scss";
}
