.settings {
  .icon,
  a {
    color: currentColor;
    text-decoration: none;
  }

  .summary {
    header {
      font-size: small;
      text-transform: capitalize;
      margin-bottom: 0.5rem;
    }
    .box {
      padding: 0.5rem;
    }
  }

  .rjsf {
    input {
      min-height: 4rem !important;
      height: 2rem !important;
    }
  }

  .box {
    padding: 1rem;
    font-size: medium;
  }
}
