.calendar {
  font-size: normal;

  .dates,
  .weekday-names {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
  }

  .day {
    flex-basis: 13%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% 0.642% 1.2%;
    border: 0;
    transition: all 0.1s ease-in-out;
    font-size: small;
    background-color: #ddd;
    color: black;
    transition: all 0.2s ease-in-out;

    &.previous {
      filter: brightness(50%);
    }

    &:hover {
      transform: scale(1.05);
    }

    &.weekday {
      padding: 0.2rem 0;
      font-size: large;
      line-height: 1rem;
    }

    .taping {
      display: flex;
      height: 3.7rem;
      justify-content: center;
      align-items: center;
      font-size: smaller;
    }

    &:not(.weekday) {
      height: 5rem;
      border: 0.001rem solid #ccc;

      header {
        background-color: #666;
        color: white;
        padding: 0.2rem;
      }
    }

    &.active {
      border: 0;
      transition: all 0.2s ease-in-out;
      filter: contrast(500%);
      transform: scale(1.1);
    }

    header {
      font-weight: 300;
      font-size: medium;
    }
  }
}
