.page .story.start {
  header {
    font-size: 1rem;
    font-weight: lighter;
  }

  .row {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  p {
    margin: 0.3rem 0;
    font-size: small;
  }

  .wrestlers {
    justify-content: inherit;
    padding: 0;

    .wrestler {
      width: 7rem;

      .name {
        font-size: x-small;
      }

      .points {
        display: none;
      }
    }
  }
}
