@import "src/stylesheets/breakpoints";

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

@include breakpoint(xs) {
  .page {
    padding: 0.2rem 1rem;
  }

  input,
  textarea {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: large;
  }
}
