@import "src/stylesheets/breakpoints";

.page .welcome {
  .box {
    padding: 1rem;
    font-size: medium;
  }

  .bar {
    font-size: medium;
    padding: 1rem;

    &,
    & a {
      color: white;
    }
  }

  .social {
    background-color: black;
  }
}
