@import "src/stylesheets/breakpoints";

.page .welcome {
  .box {
    padding: 1rem;
    font-size: medium;
  }

  .bar {
    font-size: large;
    padding: 1rem;
    text-transform: capitalize;

    &,
    & a {
      color: white;
    }
  }
}
