@import "src/stylesheets/breakpoints";

.page .welcome {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1rem;
  height: 100%;

  a,
  a:hover {
    color: white;
  }

  .bar {
    font-size: medium;
    padding: 1rem;

    &,
    & a {
      color: white;
    }
  }

  .social {
    background-color: black;
  }
}
