div.ranking {
  font-size: small;

  table,
  h3 {
    margin: 0;
    padding: 0.2rem 0.5rem;
    font-size: medium;
  }

  table {
    width: 100%;
    background-color: rgba(60, 60, 60, 0.1);
    border-collapse: collapse;
  }

  td {
    border-top: 0.1rem solid black;
    line-height: 1.5rem;
  }

  thead {
    font-variant: small-caps;
  }
}
