@import "src/stylesheets/breakpoints";

.segments {
  clear: both;
  display: flex;
  padding: 0 0 0.5rem;

  .segment {
    background-color: black;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .name {
      font-size: large;
    }

    .amount {
      font-size: small;
    }

    @include breakpoint(xs) {
      padding: 0.5rem 0;

      .name {
        font-size: small;
      }

      .amount {
        display: none;
        font-size: small;
      }
    }
  }
}
