.champions {
  display: flex;
  justify-content: center;
  align-items: center;

  .champion {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }

    header {
      margin: 0;
      font-weight: lighter;
      font-size: small;
    }

    .wrestler .name {
      font-size: xx-small;
    }
  }
}
