.labels {
  display: flex;
  flex-wrap: wrap;

  .label {
    border: 0.2rem solid transparent;
    padding: 0.3rem 0.7rem;
    border-radius: 0.7rem;
    margin: 0 0.5rem 0 0;

    .title {
      font-variant: small-caps;
      font-size: smaller;
    }

    &.active {
      border: 0.2rem solid currentColor;
    }
  }
}
