.labels {
  display: flex;
  flex-wrap: wrap;

  .label {
    border: 0.2rem solid transparent;
    margin: 0 auto 0.5rem;
    padding: 0.5rem;

    .title {
      font-variant: small-caps;
      font-size: smaller;
    }

    &.active {
      border: 0.2rem solid currentColor;
    }
  }
}
