.create-a-show {
  &.print {
    .panes {
      .pane:nth-child(1) {
        width: 100%;
        flex-basis: initial;
        max-width: initial;
      }
      .pane:nth-child(2) {
        display: none;
      }
    }
  }

  .Droppable {
    min-height: 3.2rem;
  }

  .dropzone {
    box-shadow: none;
  }

  .bout {
    padding: 0.5rem 0.5rem 0;
    margin-bottom: 1.5rem;

    h2 {
      margin: 0;
    }
  }

  .has-loser.team .dropzone {
    box-shadow: inset 0px 0px 6px 3px red;
  }

  .has-winner.team .dropzone {
    box-shadow: inset 0px 0px 6px 3px green;
  }

  .match.simulated .last {
    display: none;
  }
}
