.create-a-show {
  &.print {
    .panes {
      .pane:nth-child(1) {
        width: 100%;
        flex-basis: initial;
        max-width: initial;
      }
      .pane:nth-child(2) {
        display: none;
      }
    }
  }

  .Droppable {
    box-shadow: none;
    min-height: 3rem;
  }

  .bout {
    padding: 0.5rem 0.5rem 0;
    margin-bottom: 1.5rem;

    h2 {
      margin: 0;
    }
  }

  .match.simulated .last {
    display: none;
  }
}
