@import "src/stylesheets/z-index";

.wrestlers {
  overflow: scroll;
  padding: 0.5rem;
  z-index: $z-index-wrestlers;
  height: 100vh;

	.collection {
		display: flex;
		flex-flow: row wrap;

		align-items: end;
		justify-content: space-between;
		flex-grow: 1;
	}
}
