@import "src/stylesheets/z-index";

.wrestlers {
  align-items: end;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-between;
  overflow: scroll;
  padding: 0.3rem;
  z-index: $z-index-wrestlers;
  height: 100vh;

  header {
    font-size: small;
    margin: 0.5rem 0;
    display: block;
    width: 100%;
  }
}
