@import "src/stylesheets/z-index";

.wrestlers {
  align-items: end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: auto;
  padding: 0.3rem;
  z-index: $z-index-wrestlers;

  h3 {
    font-size: xx-small;
    margin: 1rem 0 0;
    display: block;
    width: 100%;
  }
}
