@import "src/stylesheets/breakpoints";

.page.battle-royal {

  .labels {
    font-size: small;
  }

  .tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ranking {
    font-size: small;
  }

  .panel {
    .box {
      padding: 1rem 0.5rem;
    }
    .form-group {
      margin-bottom: 1rem;
    }
  }

  @include breakpoint(xs) {
    .panel {
      margin-bottom: 1rem;
    }

    .labels {
      justify-content: center;
    }
  }
}
