$lg: green;
$md: darkorange;
$sm: orange;
$xs: red;

.healthbar {
  border: 0;
  height: 2.5vh;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .percent {
    height: 100%;
    -webkit-transition: width 2s;
    transition: width 2s, background-color 1s;

    &[data-state="lg"] {
      background-color: $lg;
    }
    &[data-state="md"] {
      background-color: $md;
    }
    &[data-state="sm"] {
      background-color: $sm;
    }
    &[data-state="xs"] {
      background-color: $xs;
    }
  }
}
